<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>To Do List</title>
  </head>

  
  <body>
    <%- include ("partials/header.ejs") %>
    <div class="container">
      <div class="title">
        <h1>Today List</h1>
      </div>
      <div class="case">
        <div class="listTask">
          <ul>
            <% if (newListTask) { newListTask.forEach((task) => { %>
            <li>
              <form class="checkList" action="" method="post">
                <input type="checkbox" id="cbox<%= newListTask.length %>" />
                <label for="cbox<%= newListTask.length %>"><%= task %></label>
              </form>
            </li>
            <% }); %> <% } %>
          </ul>
          
        </div>
        <div class="newTask">
          <form action="/" method="post">
            <input type="text" name="newTaskToday" placeholder="New Task" />
            <button class="btn" type="submit">+</button>
          </form>
        </div>
      </div>
        
    </div>

    <%- include ("partials/footer.ejs") %>
  </body>
</html>
